.officeInfo {
  padding: 1% 0 1% 0;
  display: flex;
  justify-content: center;
  width: 100%; }

.officeInfo__text {
  width: 35%; }

.officeInfo__text a {
  display: none; }

.officeInfo__map {
  width: 60%; }

.officeInfo__map iframe {
  width: 100%; }

@media (max-width: 576px) {
  .officeInfo__text {
    width: 100%; }
  .officeInfo__text a {
    display: block; }
  .officeInfo__map {
    display: none; } }
