.search {
  margin-top: 3%;
  position: relative; }
  .search form input {
    height: 20px; }
  .search form button {
    margin-left: 1%;
    height: 26px;
    width: 70px;
    background: #337ab7;
    color: white;
    cursor: pointer;
    border-radius: 4px; }
  .search form button:focus {
    outline: none; }
  .search form button:active {
    background: #2269a6; }

.search__results {
  max-height: 470px;
  overflow: auto;
  margin-top: 1%;
  border: 1px solid #A6DEFFFF; }
  .search__results h3 {
    padding-left: 1%; }
  .search__results table {
    width: 100%;
    border-collapse: collapse; }
    .search__results table thead {
      font-size: 2em; }
    .search__results table th {
      padding-bottom: 1%;
      font-weight: 400; }
    .search__results table td {
      text-align: center;
      font-size: 1.3em;
      border-top: 1px solid #ddd;
      padding: 1% 0 1% 0; }
    .search__results table td:first-child {
      width: 50%; }

.search__results-header {
  padding-left: 1%;
  display: flex; }
  .search__results-header div:first-child {
    font-size: 2em;
    color: firebrick;
    width: 90%; }
  .search__results-header button {
    margin-left: 1%;
    height: 26px;
    width: 70px;
    background: #337ab7;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    background: firebrick;
    margin-top: 1%; }

.search__fast {
  margin: 0;
  padding: 1%;
  position: absolute;
  z-index: 999;
  background: white;
  border: 1px solid #1E90FF; }
  .search__fast li {
    padding-bottom: 1%;
    cursor: pointer;
    text-decoration: none;
    list-style: none; }
  .search__fast li:hover {
    background: #A6DEFFFF; }
