.subdivisionsGroup {
  border: 1px solid #A6DEFFFF;
  margin-top: 3%;
  padding: 1%; }

.subdivisionsGroup h1 {
  text-align: center;
  color: blue; }

.subdivisionsGroup__header {
  display: flex; }
  .subdivisionsGroup__header div {
    width: 25%;
    font-size: 2em; }
  .subdivisionsGroup__header div:first-child {
    width: 47%; }

.subdivisionsGroup__tree {
  border-top: 1px solid #ddd;
  margin-top: 1%; }
